.button-icon {
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}
.redes-sociales {
  gap: 10px;
  display: flex;
}
.redes-sociales i {
  font-size: 30px;
  color: white;
  border-radius: 5px;
  background: var(--background-card);
  transition: opacity 150ms ease-in-out;
}
.button-icon img {
  vertical-align: middle;
}
