/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--background-base);
}

a {
    text-decoration: none;
}

:root {
    --color-primary: #444cf7;
    --color-secondary: #5258eb;
    --color-hover: #b3b6ff;
    --color-white: white;
    --header: white;
    --background-base: white;
    --background-card: #444cf7;
    --btn-primary: #444cf7;
    --p-color-shadow: #424ae6;
    --btn-color-shadow:#3136b1;
}